<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="passport-dubbo-client"/>

    <dubbo:consumer timeout="5000000"/>

    <dubbo:reference id="rpcServiceDemo" interface="me.tonyirl.api.core.RpcServiceDemo"
                     url="dubbo://127.0.0.1:#{commonConfigProperties['dubbo.port']}/me.tonyirl.api.core.RpcServiceDemo" check="false"/>

</beans>