<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <dubbo:application name="tonyirl-core-service"/>

    <dubbo:protocol name="dubbo" port="20880"/>

    <dubbo:registry register="false" address="N/A"/>

    <dubbo:provider />

    <dubbo:service interface="me.tonyirl.api.core.RpcServiceDemo" ref="rpcServiceDemo" protocol="dubbo"/>

    <bean id="rpcServiceDemo" class="me.tonyirl.core.dubbotest.RpcServiceDemoImpl"/>


</beans>
